body{
  font-family: 'Source Sans Pro', sans-serif;
  max-width: 700px;
  width: 80%;
  border: #bdc3c7 solid 20px;
  margin: 20px auto;
  padding: 20px;
  background-image: url(https://images.unsplash.com/photo-1542435503-956c469947f6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80);
  background-size: cover;
  background-color: rgba(255,255,255,0.7);
  background-blend-mode:lighten;
}

h2{
	letter-spacing: 2px;
	font-size: 30px;
	font-weight: bolder;
	color: #2c3e50;
}

.date{
	text-transform: uppercase;
	color: #3498db;
	font-weight: 600;
	letter-spacing: 3px;
}

.quote{
  border-left: #bdc3c7 solid 5px;
  padding-left: 7px;
}

hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.post{
	margin-bottom: 20px;
}