body{
  background-color: #232323;
}

h1{
  color: white;
  text-align: center;
}

#message{
  text-align: center;
  color: white;
}

.container{
  width: 600px;
  margin: 0 auto;
}

.square{
  width: 30%;
  padding-top: 30%;
  background-color: aqua;
  float: left;
  margin: 1.33%;
}